{% extends 'layout.html' %}

{% block body %}

    <h3 class="center-align text-darken-4 light-blue-text">Manage Categories</h3>
    <p>MAnage Categories</p>
  <div class="container">
    <div class="row">
      {% for category in categories %}
        <div class="col self-align-center blue-300">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{ category.category_name }}</h5>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
    
{% endblock %}